.div1
{
    background-color:Orange;
}
.divgeral
{
    background-color: Cornsilk;
}
.list
{
    background-color: Moccasin;
}

.manjericao
{
    background-color: LightGreen;
}
.italiana
{
    background-color: coral;
}
.lavaranda
{
    background-color: Brown;
}
.bob
{
    background-color: Red;
}
.caramelle
{
    background-color: BurlyWood;
}

.lima{
   background-color:  Gold;
}
.veneza
{
    background-color: MediumSeaGreen;
}
.degustare
{
   background-color:  LightSeaGreen;
}
.zerograu
{
    background-color: DarkOrange;
}
.oxente
{
    background-color: LightCoral;
}
